<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<h2>Household Table</h2>
<table id="household-table">
    {{!-- Header section --}}
    <thead>

        <tr>
            <th>Household Id</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Neighborhood</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.householdId}}</td>
            <td>{{this.householdAddress}}</td>
            <td>{{this.householdCity}}</td>
            <td>{{this.householdState}}</td>
            <td>{{this.householdZipcode}}</td>
            <td>{{this.neighborhoodName}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Household</h2>
<form id="add-household-form-ajax">
    <label for="input-address">Address: *</label>
    <input type="text" name="input-address" id="input-address" required>
    
    <label for="input-city">City: *</label>
    <input type="text" name="input-city" id="input-city" required>

    <label for="input-state">State: *</label>
    <input type="text" name="input-state" id="input-state" required>

    <label for="input-zipcode">Zip Code: *</label>
    <input type="text" name="input-zipcode" id="input-zipcode" required>


    <label for="input-neighborhood-id">Neighborhood: *</label>
    <div class="selection">
        <select name="input-neighborhood-id" id="input-neighborhood-id" required>
            <option value="">Select a Neighborhood</option>
            {{#each neighborhoods}}
            <option value="{{this.neighborhoodId}}"> {{this.neighborhoodName}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Add Household">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_household.js"></script>


