<!-- index.hbs -->
<h1>Welcome to Closeknit Bazaar!</h1>


<h2>Neighborhood Table</h2>
<table id="household-table">
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the phousehold-zipcode renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.householdId}}</td>
            <td>{{this.householdAddress}}</td>
            <td>{{this.householdCity}}</td>
            <td>{{this.householdState}}</td>
            <td>{{this.householdZipcode}}</td>
            <td>{{this.householdActive}}</td>
            <td>{{this.householdNeighborhoodId}}</td>
            <td><button onclick="updateHousehold({{this.id}})">Update</button></td>
            <td><button onclick="deleteHousehold({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Household</h2>
<form id="add-person-form">
    <label for="input-household-address">Address: </label>
    <input type="text" name="input-household-address" id="input-household-address">
    
    <label for="input-household-city">City: </label>
    <input type="text" name="input-household-city" id="input-household-city">

    <label for="input-household-state">State: </label>
    <input type="number" name="input-household-state" id="input-household-state">

    <label for="input-household-zipcode">Zip Code: </label>
    <input type="number" name="input-household-zipcode" id="input-household-zipcode">

    <label for="input-household-neighborhood-id">Neighborhood Id: </label>
    <input type="number" name="input-household-neighborhood-id" id="input-household-neighborhood-id">

    <input type="submit">
</form>


