<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<table id="offer-table">
    <h2>Offers Table</h2>
    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the phousehold-zipcode renders --}}
        <tr>
            <th>Offer Id</th>
            <th>Giver</th>
            <th>Item</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Cost</th>
            <th>Timestamp</th>
            <th>Offer Type</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.offerId}}</td>
            <td>{{this.giverEmail}}</td>
            <td>{{this.offerItem}}</td>
            <td>{{this.offerDescription}}</td>
            <td>{{this.offerQuantity}}</td>
            <td>{{this.offerCost}}</td>
            <td>{{formatDate this.offerTime}}</td>
            <td>{{this.offerType}}</td>
            <td><button onclick="deleteOffer({{this.offerId}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_offer.js"></script>

{{!-- Form to add a record to the table  --}}
<h2>Add an Offer</h2>
<form id="add-offer-form-ajax">

    <label for="input-giver-id">Giver Id: *</label>
    <div class="selection">
        <select name="input-giver-id" id="input-giver-id" required>
            <option value="">Select a persons username (email)</option>
            {{#each people}}
            <option value="{{this.personId}}"> {{this.personEmail}}</option>
            {{/each}}
        </select>
    </div>
    
    <label for="input-item">Item: *</label>
    <input type="text" placeholder = "Item Name" name="input-item" id="input-item" required>

    <label for="input-description">Description: </label>
    <input type="textarea" placeholder = "Describe the thing being offered" name="input-description" id="input-description">

    <label for="input-quantity">Quantity: *</label>
    <input type="number" name="input-quantity" id="input-quantity" value="1" required>

    <label for="input-cost">Karma Cost: *</label>
    <input type="number" name="input-cost" id="input-cost" required min = "0">

    <label for="input-type-id">Offer Type: *</label>
    <div class="selection">
        <select name="input-type-id" id="input-type-id" required>
            <option value="">Select a Offer Type</option>
                {{#each offerTypes}}
                <option value="{{this.offerTypeId}}"> {{this.offerType}}</option>
                {{/each}}
        </select>
    </div>


    <input type="submit" value="Add Offer">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_offer.js"></script>
