<!-- 
Citation for the following function:
   Date: 2/14/24
   Adapted from starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
   Starter code used as a template with variables changed to meet our use case.  Some functions/routes were added/removed for functionality.
   Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<table id="people-table">

    <h2>People Table</h2>
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Person Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Karma</th>
            <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.personId}}</td>
            <td>{{this.personName}}</td>
            <td>{{this.personEmail}}</td>
            <td>{{this.personPhoneNumber}}</td>
            <td>{{this.fullAddress}}</td>
            <td>{{this.personKarma}}</td>
            <td><button onclick="updatePerson({{this.personId}})">Update</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2 id="people-form">Add a Person</h2>
<h4 class="centered">
    People to Household relationship is NULLable. <br>
</h4>
<form id="add-person-form-ajax">
    
    <label id="input-id-text" class="hidden" for="input-id">Id (Read Only): </label>
    <input type="number" class="hidden" name="input-id" id="input-id" readonly="readonly" disabled>

    <label for="input-name">Name: *</label>
    <input type="text" placeholder = "First Last" name="input-name" id="input-name" required>
    
    <label for="input-email">Email Address: *</label>
    <input type="email" placeholder = "name@example.com" name="input-email" id="input-email" required>

    <label for="input-phone-number">Phone Number: *</label>
    <input type="tel" placeholder = "111-111-1111" name="input-phone-number" id="input-phone-number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>

    <label for="input-household-id">Household: </label>
    <div class="selection optional">
        <select name="input-household-id" id="input-household-id">
            <option value="">Optionally select a Household</option>
                {{#each households}}
                <option value="{{this.householdId}}"> {{this.fullAddress}}</option>
                {{/each}}
        </select>
    </div>

    <label for="input-karma">Karma: *</label>
    <input type="number" name="input-karma" id="input-karma" min = "0" max = "9999" value="100" required>
    
    <input type="submit" id="submit-button" onclick="resetButton()" value="Add Person">
    <input type="reset" value="Reset Form" onclick="resetButton()">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_edit_person.js"></script>


<h2>Search By Name</h2>
<form id="search-html" method='GET' action='/people'>
    <label for="input-qname">Search by Name: *</label>
    <input type="text" placeholder = "First Last" name="qname" id="input-name-html-search" required>
    
    <input type="submit" value="Find People">
    <a id="button-anchor" href='/people'><button id="show-all" type="button">Show All</button></a>
</form>