{{!-- Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
 https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<table id="people-table">

    <h2>People Table</h2>
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Active</th>
            <th>Household ID</th>
            <th>Karma</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.personId}}</td>
            <td>{{this.personName}}</td>
            <td>{{this.personEmail}}</td>
            <td>{{this.personPhoneNumber}}</td>
            <td>{{this.personActive}}</td>
            <td>{{this.personHouseholdId}}</td>
            <td>{{this.personKarma}}</td>
            <td><button onclick="updatePerson({{this.id}})">Update</button></td>
            <td><button onclick="deletePerson({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}

<form id="add-person-form">
    <h2>Add or Edit a Person</h2>
    <label for="input-person-name">Name: </label>
    <input type="text" name="input-person-name" id="input-person-name">
    
    <label for="input-person-email">Email Address: </label>
    <input type="email" name="input-person-email" id="input-person-email">

    <label for="input-person-phone-number">Phone Number: </label>
    <input type="text" name="input-person-phone-number" id="input-person-phone-number">

    <label for="input-person-household-id">Household Id: </label>
    <input type="number" name="input-person-household-id" id="input-person-household-id">
    &nbsp;
    <input type="submit" value="Submit">
</form>

<form id="search-person-form">
    <h2>Search Person by Name</h2>
    <form id="search-person-html" method='GET' action='/'>
        <label for="input-lname">Search by Name: </label>
        <input type="text" name="lname" id="input-lname-html-search">
        
        <input type="submit" value="Submit">
        <a href='/'><button>Reset</button></a>
</form>
