<!-- 
Starter code provided by Dr. Curry and Prof. Safonte at Oregon State University
at https://github.com/osu-cs340-ecampus/nodejs-starter-app
-->

<table id="transactions-table">
    <h2>Transactions Table</h2>
    {{!-- Header section --}}
    <thead>
        <tr>
            <th>Transaction Id</th>
            <th>Item</th>
            <th>Receiver</th>
            <th>Timestamp</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.transactionId}}</td>
            <td>{{this.item}}</td>
            <td>{{this.receiver}}</td>
            <td>{{formatDate this.transactionTime}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table  --}}
<h2>Add a Transaction</h2>
<form id="add-transaction-form-ajax">

    <label for="input-transaction-offer-id">Offer Item: *</label>
    <div class="selection">
        <select name="input-transaction-offer-id" id="input-transaction-offer-id" required>
            <option value="">Select a Offer</option>
            {{#each offers}}
            <option value="{{this.offerId}}"> {{this.offerItem}}</option>
            {{/each}}
        </select>
    </div>

    <label for="input-reciever-id">Reciever Name: *</label>
    <div class="selection">
        <select name="input-reciever-id" id="input-reciever-id" required>
            <option value="">Select a persons username (email)</option>
            {{#each people}}
            <option value="{{this.personId}}"> {{this.personEmail}}</option>
            {{/each}}
        </select>
    </div>

    <input type="submit" value="Add Transaction">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_transaction.js"></script>

